<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="utf-8">
    <title>AJOUDONG 회원 관리</title>
    <link href="{% static '/css/adminDesign.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>간부 로그인 페이지 입니다.</h1>
    {{hello}}<br>
    {{num1}}<br>
    {% for n in number %}
        <p>{{n}}</p>
    {% endfor %}

    <form method="POST" name="Login" action="{% url 'management' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td><label>id</label></td>
                <td><input name="id" type="text" value="" id="loginid" placeholder="id"></td>
                <td rowspan="2"><input type="submit" value="Login" style="height: 50px;"></td>
            </tr>
            <tr>
                <td><label>pw</label></td>
                <td><input name="pw" type="password" value="" id="loginpw" placeholder="pw"></td>
            </tr>
        </table>
    </form>
</body>
<!-- 제공기능 간부 로그인 -->