{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">

    <div class="col-lg-3">
    <h1 class="my-4">동아리 관리</h1>
        <div class="list-group">
            <button onclick="ShowClubAccountList()" class="list-group-item">동아리 계정 조회</buttona>
            <button onclick="ShowAddClubAccount()" class="list-group-item">동아리 간부 계정 추가</button>
            <button onclick="ShowDeleteClubAccount()" class="list-group-item">동아리 간부 계정 삭제</button>
            <button onclick="ShowClubList()" class="list-group-item">동아리 조회</buttona>
            <button onclick="ShowAddClub()" class="list-group-item">동아리 추가</button>
            <button onclick="ShowDeleteClub()" class="list-group-item">동아리 삭제</buttona>
        </div>
    </div>
    <div class="management-menu-div">
        <br><br><br><br>
        <form method="POST" id="add-club-account" name="addmanageraccount" action="{% url 'addmanageraccount' %}">
            {% csrf_token %}
            <h2>동아리 간부 계정 추가</h2>
            <input name="mID" type="text" value="" id="managerid" placeholder="계정 아이디"><br>
            <input name="mPW" type="password" value="" id="managerpw" placeholder="계정 비밀번호"><br>
            <input name="managerclubname" type="text" value="" id="managerclubname" placeholder="동아리 이름"><br>
            <input name="managerclubid" type="text" value="" id="managerclubid" placeholder="동아리 아이디"><br>
            <input name="image" type="text" value="" id="clubIMG" placeholder="동아리 이미지 링크"><br>
            <input type="submit" value="Add" class="admin-color">
        </form>
        <form method="POST" id="delete-club-account" name="deletemanageraccount" action="{% url 'deletemanageraccount' %}">
            {% csrf_token %}
            <h2>동아리 간부 계정 삭제</h2>
            <input name="managerdelete" type="text" value="" id="managerid_delete" placeholder="동아리 계정 아이디"><br>
            <input type="submit" value="Delete" class="admin-color">
        </form>
        <form method="POST" id="add-club" name="addclub" action="{% url 'addclub' %}">
            {% csrf_token %}
            <h2>동아리 추가</h2>
            <input name="clubname" type="text" value="" id="clubid" placeholder="동아리 이름"><br>
            <input name="clubcategory" type="text" value="" id="clubcategory" placeholder="카테고리"><br>
            <input name="clubmajor" type="text" value="" id="clubmajor" placeholder="동아리 소속"><br>
            <input type="submit" value="Add" class="admin-color">
        </form>
        <form method="POST" id="delete-club" name="clubdelete" action="{% url 'clubdelete' %}">
            {% csrf_token %}
            <h2>동아리 삭제</h2>
            <input name="deleteclubid" type="text" value="" id="deleteclubid" placeholder="동아리 이름"><br>
            <input type="submit" value="Delete" class="admin-color">
        </form>
    <div id="club-account-list">
        <h2>동아리 간부 계정 리스트</h2>
        {% for list in manageraccount %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="{{list.clubIMG}}" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <h3>{{list.clubName}}</h3>
                </h4>
                <h5>{{list.mID}}</h5>
                <p class="card-text">{{list.clubID}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    <div id="club-list" class="row">
        <h2>동아리 리스트</h2>
        {% for list in clublisttable %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="{{list.clubIMG}}" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <h3>{{list.clubName}}</h3>
                </h4>
                <p class="card-text">동아리 번호: {{list.clubID}}<br>카테고리: {{list.clubCategory}}<br>분류: {{list.clubMajor}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    <!-- <form method="POST" name="Ads" action="{% url 'advertisement' %}">
        {% csrf_token %}
        <input type="submit" value="Ads" style="height: 25px;">
    </form> -->
    </div>
</div>
<br><br>
<script type="text/javascript" src="{% static '/js/clubManagement.js' %}"></script>
{% endblock %}