<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ajoudongfe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ajoudong"
        android:label="AJOUDONG"
        android:roundIcon="@mipmap/ic_launcher_ajoudong_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".UserNewClubFilterActivity" />

        <activity android:name=".VerifyActivity" />
        <activity android:name=".UserApplyActivity" />
        <activity android:name=".UserMajorClubFilterActivity" />
        <activity android:name=".UserMainClubFilterActivity" />
        <activity android:name=".UserEventListActivity" />
        <activity android:name=".UserBookmarkClubActivity" />
        <activity android:name=".UserApplicationResultActivity" />
        <activity android:name=".UserClubHistoryActivity" />
        <activity android:name=".UserClubHistoryDetailActivity" />
        <activity android:name=".UserMyAjouDongActivity" />
        <activity android:name=".ManagerClubFilterSettingActivity" />
        <activity android:name=".ManagerClubApplySettingActivity" />
        <activity android:name=".ManagerClubInfoEditActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ManagerClubHistoryEditActivity" />
        <activity android:name=".UserEventDetailActivity"/>
        <activity android:name=".ManagerMemberManagementActivity"></activity>
        <activity android:name=".ManagerNewEventActivity" />
        <activity android:name=".ManagerEventListActivity"/>
        <activity android:name=".UserNewClubListActivity" />
        <activity android:name=".UserMainClubListActivity" />
        <activity android:name=".UserMajorClubListActivity" />
        <activity android:name=".ManagerMainActivity" />
        <activity android:name=".UserMainActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".UserMajorSelectActivity" />
        <activity android:name=".ClubInfomationActivity" />
        <activity android:name=".ClubMemberChartActivity" />
        <activity android:name=".AuthActivity" />
        <activity android:name=".TempActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ajoudong_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/ajouLogoBlue" />

    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>